* {
  font-size: 18pt;
}

.column {
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.score {
  font-family: monospace;
  font-size: 20pt;
  color: #05ffeae0;
  text-shadow: 2px 2px 2px black;
}
#scoreboard {
  border-style: ridge;
  border-color: gold;
  font-family: monospace;
  font-size: 20pt;
  border-width: 10px;
  height: 780px;
  background-image: url(scales.jpg);
  color: #05ffeae0;
  text-shadow: 2px 2px 2px black;
}
