* {
  font-size: 18pt;
}

.column {
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.score {
  font-family: monospace;
  font-size: 20pt;
  color: #05ffeae0;
  text-shadow: 2px 2px 2px black;
}
#scoreboard {
  border-style: ridge;
  border-color: #00FF00;
  font-family: monospace;
  font-size: 20pt;
  border-width: 10px;
  height: 780px;
  color: #00FF00;
  background: black;
  text-shadow: 1px 1px 1px #00DD00;
}
