* {
  font-size: 18pt;
}

.column {
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.score {
  font-family: monospace;
  font-size: 20pt;
  color: #05ffeae0;
  text-shadow: 2px 2px 2px black;
}
#scoreboard {
  position: absolute;
    left: 800px;
    top: 0px;
  border-style: ridge;
  border-color: #00FF00;
  font-family: monospace;
  font-size: 20pt;
  border-width: 10px;
  height: 780px;
  color: #00FF00;
  background: black;
  text-shadow: 1px 1px 1px #00DD00;
}

#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

